
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Add Gadget", "AddGadget","Gadget")
@Html.ActionLink("See your added gadget List and Wishlist", "GetAllProducts", "Gadget")