<div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
         <div class="sm-jumbotron center-align">
          <h2> USER REGISTRATION </h2>
          </div>
         <form class="container" #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)">
           <div class="row">
             <div class="input-field col s6">
               <input type="text" class="validate" name="Name" #Name="ngModel" [(ngModel)]= "userService.selectedUser.Name" required>
               <label data-error="Required Field!">Name </label>
             </div>
             <div class="input-field col s6">
               <input type="text" class="validate" name="Email" #Email="ngModel" [(ngModel)]= "userService.selectedUser.Email" [pattern]="emailPattern" required>
               <label data-error="Invalid E-mail !">Email </label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s6">
               <input type="password" class="validate" name="Password" #Password="ngModel" [(ngModel)]= "userService.selectedUser.Password" required minlength="6"> 
               <label [attr.data-error]="Password.errors !=null?(Password.errors.required? 'Required Field':'Minimum 6 characters'):''">Password </label>
             </div>
             <div class="input-field col s6">
               <input type="text" class="validate" name="Gender" #Gender="ngModel" [(ngModel)]= "userService.selectedUser.Gender" required>
               <label data-error="Required Field!">Gender </label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s6">
               <input type="number" class="validate" name="Age" #Age="ngModel" [(ngModel)]= "userService.selectedUser.Age" required min="18" max="99" size="3">
               <label data-error="Age more than 18 needed!">Age </label>
             </div>
             <div class="input-field col s6">
               <input type="text"  class="validate" name="Mobile_No" #Mobile_No="ngModel" [(ngModel)]= "userService.selectedUser.Mobile_No" [pattern]="mobPattern" required minlength="10">
               <label data-error="Invalid Contact Number!">Mobile Number </label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s6">
               <button class="btn-large btn-submit" [disabled]="!userRegistrationForm.valid" type="submit"> SIGN ME UP</button> 
             </div>
             <div class="input-field col s16">
                <button class="btn btn-large btn-block btn-secondary" (click)="resetForm(userRegistrationForm)" type="button"> RESET </button> 
              </div>
           </div>
         </form>
       </div>   
    </div>
   </div>
   <!-- <form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form> -->