
 <form class="container" #userForm="ngForm" (ngSubmit)="OnSubmit(userForm)">
  <div class="row">
    <div class="input-field col s6">
      <input type="text" class="validate" name="Name" #Name="ngModel" placeholder="name" ngModel required> 
    </div>
  </div>
  <div class="form-row">
    <div class="form-group-col-md-8">
      <button  type="submit"> Submit</button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="input-field col s6">
      <input type="text" name="name1" placeholder="search" ngModel required> 
    </div>
  </div>
  <div class="form-row">
    <div class="form-group-col-md-8">
      <button  type="button" (click)="show(name1)"> Search</button>
    </div>
  </div> -->
  
  <app-search></app-search>