<!-- <form name="form" #empRegistrationForm="ngForm" novalidate (ngSubmit)="empRegistrationForm.form.valid && onSubmit(empRegistrationForm)">
    <!-=========================================name========================================-->
    <!-- <div class="form-group">
      <label for="Empname">Empname</label>
      <input type="text" class="form-control" name="Empname" placeholder="Employee Name" #Empname="ngModel"
        [(ngModel)]="userService.selectedUser.Empname" required />
    </div>
    <!=========================================Id========================================-->
    <!-- <div class="form-group">
      <label for="EmpId">EmpId</label>
      <input type="text" class="form-control" name="EmpId" placeholder="EmpId" #EmpId="ngModel" [(ngModel)]="userService.selectedUser.EmpId" required />
    </div> -->
    <!--========================================Office========================================-->
    <!-- <div class="form-group">
        <label for="Empofc">Empofc</label>
        <input type="text" class="form-control" name="Empofc" placeholder="EmpId" #Empofc="ngModel" [(ngModel)]="userService.selectedUser.Empofc" required />
      </div> -->
    <!--=========================================code=======================================-->
    <!-- <div class="form-group">
        <label for="Empcode">Empcode</label>
        <input type="text" class="form-control" name="Empcode" placeholder="Employee Code" #Empcode="ngModel" [(ngModel)]="userService.selectedUser.Empcode" required />
      </div> --> 
  list