@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 1;
  top: 0;
}
 pre{
   font-family: 'Times New Roman','Times New Roman', Times, serif
 }

